*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Srenada';
    src: url(/fonts/Srenada.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Srenada', sans-serif;
}