*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Srenada';
    src: url('/fonts/Srenada.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    background-color: #0e1111;
    color: white;
    text-shadow: 0 0 1px white;
}

.container {
    width: 75%;
    margin: 0 auto;
}

nav {
    border-bottom: 1.5px solid white;
    border-radius: 10px;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    font-family: 'Srenada', sans-serif;
}

header button {
    background-color: #0e1111;
    border: none;
    font-size: 1.25rem;
    margin: 1em 0;
}

header button:hover {
    cursor: pointer;
}

header button:active {
    opacity: 80%;
}

header button,
form input,
form button {
    color: white;
    font-family: 'Srenada', sans-serif;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1;
    background-color: rgb(146, 146, 146);
    text-align: left;
}

.inputDiv {
    position: absolute;
    width: 100%;
}

form input {
    font-size: 1.2rem;
    padding: 0.6em 1.5em;
    padding-left: 2.5em;
    color: black;
}

form button {
    font-size: 1.2rem;
    padding: 0.6em 1.5em;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left; 
    border: none; 
    cursor: pointer;
}

form img {
    margin-right: -2.25em;
    width: 20px;
    opacity: 75%;
    z-index: 2;
    pointer-events: none;
}

form {
    margin-bottom: 1.5em;
}